@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry {
    column-gap:0;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 0;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 0;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}
